layout {
    border {
        active-color "{{colors.outline.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"

        urgent-color "{{colors.base00_source.default.hex}}"
    }
}
