@import "colors.css";

* {
  font-family: "Geist", "JetBrains Mono Nerd Font Propo";
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
  min-height: 0;
  color: @on_surface;
}

#waybar {
  background-color: @surface;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

tooltip {
  background-color: @surface;
  font-weight: 400;
  border: 2px solid @outline;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#workspaces,
#mpris,
#cava,
#mode,
#submap,
#window,
#temperature,
#cpu,
#memory,
#idle_inhibitor,
#network,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray,
#privacy,
#custom-power {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#workspaces {
  margin-right: 5px;
  margin-left: 12px;
}

#workspaces button {
  border-radius: 0px;
  margin: 2px;
}

#workspaces button.active {
  font-weight: 800;
  background-color: @on_surface;
}

#workspaces button.active label {
  color: @surface;
}

#workspaces button:hover:not(.active) {
  background-color: @secondary_container;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#cpu.warning {
  color: @error;
}

#cpu.critical {
  color: @on_error_container;
}

#memory.warning {
  color: @error;
}

#memory.critical {
  color: @on_error_container;
}

#temperature.critical {
  color: @error;
}

#battery.charging {
  color: @on_surface;
}

#battery.warning:not(.charging) {
  color: @on_error_container;
}

#battery.critical:not(.charging) {
  color: @error;
}

#clock {
  font-size: 16px;
  margin-right: 12px;
  margin-left: 5px;
}
