@define-color foreground #{{base05-hex}};
@define-color background #{{base00-hex}};
@define-color cursor #{{base05-hex}};

@define-color color0 #{{base00-hex}};
@define-color color1 #{{base08-hex}};
@define-color color2 #{{base0B-hex}};
@define-color color3 #{{base0A-hex}};
@define-color color4 #{{base0D-hex}};
@define-color color5 #{{base0E-hex}};
@define-color color6 #{{base0C-hex}};
@define-color color7 #{{base05-hex}};
@define-color color8 #{{base03-hex}};
@define-color color9 #{{base08-hex}};
@define-color color10 #{{base0B-hex}};
@define-color color11 #{{base0A-hex}};
@define-color color12 #{{base0D-hex}};
@define-color color13 #{{base0E-hex}};
@define-color color14 #{{base0C-hex}};
@define-color color15 #{{base07-hex}};
