@import "colors.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
	font-family: "Geist"
}

button {
  border-radius: 0;
	text-decoration-color: @base05;
  color: @base05;
	background-color: transparent;
	border-width: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	outline-style: none;
}

#lock {
	background-image: url("./icons/lock.png");
}

#logout {
  background-image: url("./icons/logout.png");
}

#shutdown {
  background-image: url("./icons/shutdown.png");
}

#reboot {
  background-image: url("./icons/reboot.png");
}
